/*Top Page Navbar */

.nav {
	list-style: none;
	z-index:1;
	line-height: 1.0;
	float:right;
	margin-top:15px;
	display: none;
	}

.nav:after,
#top:after {
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:".";
	}
		
.nav li {
	position:relative;
	list-style:none;
	float: left
	}

.nav a,
.nav a:visited {
	display: block;
	text-decoration: none;
	}

#tabber a:hover, #tabber a:active, 
.pane .widget:hover h3:hover {
	background: #2e3237
	}	
		
.nav a:active, .nav a:hover {
	color:#878787;
	}

.nav li.current-cat,
.nav li.current_page_item {
	background:url(../images/bracket-1.png) no-repeat left
	}	
	
.nav li.current-cat a,
.nav li.current-cat a:visited,
.nav li.current_page_item a,
.nav li.current_page_item a:visited {
	color:#878787;
	background: url(../images/bracket-2.png) no-repeat right;
	}



	
/* Dropdown Menus */		

.nav li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
	}

ul.nav li:hover li ul,
ul.nav li.sfhover li ul {
	top: -999em;
	}

ul.nav li li:hover ul,
ul.nav li li.sfhover ul {
	left: 188px; /* match ul width */
	top: 0;
	}

ul.nav li li:hover li ul,
ul.nav li li.sfhover li ul {
	top: -999em;
	}

ul.nav li li li:hover ul,
ul.nav li li li.sfhover ul {
	left: 198px; /* match ul width */
	top: 0;
	}

.nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 188px;
	z-index:1 !important;
	line-height:1;
	-moz-opacity:.97;
	opacity:.97;
	background: url(../images/bg_dropdown.png) no-repeat;
	margin-top: -5px;
	padding: 19px 0 12px;
	}

.nav li li {
	z-index:1000;
	margin-left: 14px;
	border-bottom: 1px solid #a5b4c2;
	width: 155px;
	}

.nav li li:last-child {
	border: none
	}

.nav li li a,
.nav li li a:visited, 
.nav li.current_page_parent li.current_page_item a,
.nav li.current_page_parent li.current_page_item a:visited {
	color:#d6e3f0 !important;
	padding:9px 3px; 
	}

.nav li li a:hover,
.nav li li a:active,
.nav li.current_page_parent li.current_page_item a:hover,
.nav li.current_page_parent li.current_page_item a:active {
	color:#FFF !important;
	text-decoration: none
	}	
		
.nav li:hover ul,
.nav li li:hover ul,
.nav li li li:hover ul,
.nav li.sfhover ul,
.nav li li.sfhover ul,
.nav li li li.sfhover ul {
	left: auto;
	}

.nav li ul ul {
	margin:-1px 0 0 -33px !important;
	background: url(../images/bg_dropdown2.png);
	padding: 0 0 5px;
	border-left:1px solid #a8b7c4;
	border-top:1px solid #a8b7c4;
	}


.nav a.sf-with-ul {
	padding-right: 31px;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}

.nav li .sf-sub-indicator {
	position: absolute;
	display: block;
	right: 	.6em;
	top: 	.8em; /* IE6 only */
	width: 	16px;
	height: 	10px;
	text-indent: 	-999em;
	overflow: hidden;
	background: url(../images/arrow_nav.png) no-repeat;
}







/* ---------- @ Nav -----------*/

@media projection, screen { 
    .ui-tabs-hide {
        display: none!important;
    }
}

@media print {
    .ui-tabs-nav {
        display: none!important;
    }
}

#tabber {
	text-align:center;
	margin-bottom: 12px;
	}

#tabber a, #tabber a:visited {
	height:100%!important; 
	padding: 20px 36px 18px;
	text-transform: uppercase
}

#tabber li {display:inline;}

.ui-tabs-nav:after { 
    display: block!important;
    clear: both!important;
    content: " "!important;
}

.ui-tabs-nav li {
    float: left!important;
	list-style:none;
	border-right:1px solid #4a525a;
}

.ui-tabs-nav a.ui-tabs, .ui-tabs-nav a.ui-tabs:visited {
	border-left:none;	
    display:block!important;
	position: relative!important;
}


.ui-tabs-nav span.loading {
	background:url(../images/spinner.gif) no-repeat left center;
	padding:0 0 3px 22px;
}
	
.ui-tabs-nav a.current,
.ui-tabs-nav a.current:visited {	
	opacity:1 !important;
	color: #fff;
	}
	

   
.ui-tabs-nav .ui-tabs-selected .ui-tabs a:link, 
.ui-tabs-nav .ui-tabs-selected .ui-tabs a:visited, 
.ui-tabs-nav .ui-tabs-disabled .ui-tabs a:link, 
.ui-tabs-nav .ui-tabs-disabled .ui-tabs a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text!important;
}

.ui-tabs-nav .ui-tabs a:hover, 
.ui-tabs-nav .ui-tabs a:active,
.ui-tabs-nav .ui-tabs-unselect .ui-tabs a:hover, 
.ui-tabs-nav .ui-tabs-unselect .ui-tabs a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer!important; 
	background-color:#333!important;
	color:#fff!important;
}

.ui-tabs-disabled {
    opacity: .4!important;
    filter: alpha(opacity=40)!important;
}

/* Additional IE specific bug fixes... */
* html .ui-tabs-nav { /* auto clear, @ IE 6 & IE 7 Quirks Mode */
    display: inline-block!important;
}
*:first-child+html .ui-tabs-nav  { /* @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block!important;
}
	
